<h1>Login</h1>
@if (ViewBag.Error != null)
{
    <h3 style="color:red">@ViewBag.Error</h3>
}
<form action="/login" method="post">
    <input type="text" name="username"
           placeholder="Enter your username" />
    <input type="password" name="password"
           placeholder="Enter your password" />
    <button type="submit">Login</button>
</form> 